/* цвет фона кнопки, ссылок в фокусе - #2196F3
цвет фона страницы, текста героя, текста кнопки, подписи боксов в фокусе - #FFFFFF
цвет описания функций, должностей в команде, контактов в хедере - #757575
цвет текста заголовков, имен членов команды, ссылок навигации - #212121
цвет части логотипа - #000000 
цвет контактов в футере - rgba(255, 255, 255, 0.6); 
цвет фона неактивных кнопок в фильтре портфолио, фона секции команды - #F5F4FA; */
:root {
  --button-background-links-color: #2196f3;
  --body-background-button-font-color: #ffffff;
  --features-header-contacts-color: #757575;
  --headers-names-links-color: #212121;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --team-background-portfolio-filters-color: #f5f4fa;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
  text-align: center;
}

/*Шапка сайта*/

.header-nav {
  display: flex;
  align-items: center;
}

.container.header {
  margin: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  text-align: center;
}

.logo {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #2196f3;
  text-decoration: none;
  margin-right: 85px;
}

.studio {
  color: #000000;
}

.site-navigation {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
}

.site-navigation .item:not(:first-child) {
  margin-left: 50px;
}

.site-navigation .link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--headers-names-links-color);
}

.site-navigation .link:hover,
.site-navigation .link:focus {
  color: var(--button-background-links-color);
}

.site-navigation .current {
  color: var(--button-background-links-color);
}

.header-address {
  margin-left: auto;
}

.site-contacts {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
}

.site-contacts > .item:not(:first-child) {
  margin-left: 30px;
}

.site-contacts .link {
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--features-header-contacts-color);
}

.site-contacts .link:hover,
.site-contacts .link:focus {
  color: var(--button-background-links-color);
}
/*Подвал страницы*/

.container.for-footer {
  margin: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: baseline;
}

.container-address {
  display: flex;
  flex-direction: column;
  min-width: 69px;
  padding-top: 45px;
  padding-bottom: 28px;
}

.logo.for-footer {
  margin-right: 0;
  text-align: start;
}

.logo .in-footer {
  color: #ffffff;
}

.address-box {
  margin-top: 8px;
}

.address-footer {
  font-style: normal;
  line-height: 1.71;
  list-style-type: none;
  text-decoration: none;
  text-align: start;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.address-item:not(:first-child) {
  margin-top: 9px;
}

.address {
  text-decoration: none;
  color: var(--body-background-button-font-color);
}

.address-footer .link {
  text-decoration: none;
  color: var(--footer-contacts-color);
}

.container-social {
  min-width: 206px;
  display: flex;
  flex-direction: column;
  padding-top: 57px;
  margin-left: 69px;
}

.footer-text {
  display: block;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  text-transform: uppercase;
  color: var(--body-background-button-font-color);
}

.footer.social-links {
  list-style: none;
  text-decoration: none;
  padding-left: 0;
  margin-top: 20px;
  margin-bottom: 0;
  display: flex;
  justify-content: start;
}

.footer.social-links .social-item:not(:first-child) {
  margin-left: 10px;
}

.footer .social-links:hover,
.footer .social-links:focus {
  color: var(--button-background-links-color);
}

.container-form {
  margin-right: 0;
  margin-left: 94px;
  min-width: 570px;
  padding-top: 57px;
}

.container-developed {
  margin: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 18px;
  padding-bottom: 21px;
  align-items: center;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.developed-by {
  font-size: 12px;
  line-height: 2;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.4);
  margin-top: 0;
  margin-bottom: 0;
}

.container-form > .button.primary {
  margin-top: 20px;
}

/*Кнопка*/

.button.primary {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  text-decoration: none;
  display: inline-block;
  min-width: 200px;
  padding: 10px 32px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: var(--body-background-button-font-color);
  background-color: var(--button-background-links-color);
}

/*Герой*/

.hero {
  text-align: center;

  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../images/Hero-img.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--body-background-button-font-color);
}

/*Особенности*/

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--headers-names-links-color);
  margin-top: 0;
  margin-bottom: 0;
}

.img {
  display: block;
}

.border-img {
  display: block;
  padding: 33px 100px;
  background: #f5f4fa;
  border-radius: 4px;
}

.section-title.invisible {
  display: none;
}

.section-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--headers-names-links-color);
  margin-top: 30px;
  margin-bottom: 0;
}

.section .function-description {
  color: var(--features-header-contacts-color);
  margin-top: 10px;
  margin-bottom: 0;
}

.section-subtitle.work {
  color: var(--body-background-button-font-color);
  background: rgba(47, 48, 58, 0.8);
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
  margin-top: 0;
  margin-bottom: 0;
}

.section-subtitle.team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  text-transform: none;
  color: var(--headers-names-links-color);
}

.section-list {
  list-style: none;
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  align-items: center;
}

.container.works .section-list {
  list-style: none;
  display: flex;
  padding-left: 0;
  margin-top: 50px;
  margin-bottom: 0;
  align-items: center;
}

.container.team .section-list {
  list-style: none;
  display: flex;
  padding-left: 0;
  margin-top: 50px;
  margin-bottom: 0;
  align-items: center;
}

.container.clients .section-list {
  list-style: none;
  display: flex;
  padding-left: 0;
  margin-top: 50px;
  margin-bottom: 0;
  align-items: center;
}

.section-list .item {
  min-width: 270px;
}

.section-list.clients .item {
  min-width: 170px;
}

.section-list .item:not(:first-child) {
  margin-left: 30px;
}

.section-list .link {
  text-decoration: none;
}

.section-list .link:hover,
.section-list .link:focus {
  color: var(--button-background-links-color);
}

/*Наша команда*/

.team-list {
  list-style: none;
}

.icon {
  list-style: none;
  display: flex;
  padding-left: 0;
  margin-top: 16px;
  justify-content: center;
}

.icon .icon-item:not(:first-child) {
  margin-left: 10px;
}

.social-links {
  text-decoration: none;
}

.icon .social-links:hover,
.icon .social-links:focus {
  color: var(--button-background-links-color);
}

.position {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--features-header-contacts-color);
  margin-top: 10px;
  margin-bottom: 0;
}

footer {
  background: #2f303a;
}

.category {
  list-style: none;
  display: flex;
  align-items: center;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.category-items:not(:first-child) {
  margin-left: 8px;
}

.category-button {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border: 1px solid transparent;
  border-color: transparent;
  border-radius: 4px;
  padding: 6px 22px;
  color: var(--headers-names-links-color);
  background-color: var(--team-background-portfolio-filters-color);
}

.category-button:hover,
.category-button:focus {
  color: var(--body-background-button-font-color);
  background-color: var(--button-background-links-color);
}

/*Портфолио*/

.portfolio-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.portfolio-item {
  width: calc((100% - 2 * 30px) / 3);
  margin-bottom: 30px;
  margin-right: 30px;
  border: 1px solid #eeeeee;
}

.portfolio-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-link {
  text-decoration: none;
}

.portfolio-list .subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--headers-names-links-color);
  text-align: start;
  margin-top: 0;
  margin-bottom: 4px;
}

.portfolio-list .type {
  font-size: 16px;
  line-height: 1.87;
  color: var(--features-header-contacts-color);
  text-align: start;
  margin-top: 0;
  margin-bottom: 0;
}

.portfolio-list .description {
  font-size: 18px;
  line-height: 1.56;
  color: var(--body-background-button-font-color);
  text-align: start;
  padding: 63px 24px;
  margin-top: 0;
  margin-bottom: 0;
  background-color: var(--button-background-links-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section.team-section {
  background: #f5f4fa;
}

.container.features {
  margin: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  text-align: center;
}

.container.works {
  margin: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.container.team {
  margin: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.container.clients {
  margin: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.main-section {
  padding-top: 93px;
  padding-bottom: 94px;
}

.category-container {
  display: flex;
  justify-content: center;
  min-width: 611px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.subtitle-container {
  padding: 20px 24px;
}
