:root {
  --primary-text-color: #ffffff;
  --title-text-color: #212121;
  --accent: #2196f3;
  --desciption-color: #757575;
}
/*цвет основного текста 
color: #212121*/
/* цветвторичного цвета color: #757575;*/
/* color: #757575*/
/*акцент color: #2196F3;*/

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  margin: 0px;
}

.list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  text-decoration: none;
  /*padding-top: 24px;
  padding-bottom: 25px;
  padding-left: 215px;*/
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1230px;
  outline: 2px solid tomato;
}

.logo-web {
  color: #2196f3;
}

.logo-st {
  color: #000000;
}

/* SIte nav*/
.site-nav {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.site-nav .link {
  color: var(--title-text-color);
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent);
}

.site-nav .link.current {
  color: var(--accent);
}

.contacts-nav {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts-nav .link {
  color: #757575;
  text-decoration: none;
}

.contacts-nav .link:hover,
.contacts-nav .link:focus {
  color: var(--accent);
}

.section-title {
  color: var(--title-text-color);
}

.header {
  text-align: center;
}
.header-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;

  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 40px;

  min-width: 696px;
  height: 120px;
  left: 452px;
  top: 280px;

  background-color: tomato;
}

.header .link {
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-decoration: none;
}

.features-list .title {
  color: var(--title-text-color);
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.title {
  margin-top: 0px;
  margin-bottom: 10px;
}

.img {
  margin-bottom: 40px;
}

.features-dscrp {
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 94px;
}

.header .link {
  color: #ffffff;
}

.section-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 0.86;
  text-align: center;
  letter-spacing: 0.03em;
}

.features .title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.activities-dscrp {
  color: var(--primary-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

.command-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.command-dscrp {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.variables {
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.03em;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.88;
}

.text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.03em;
}
.button {
}

.button-secondary {
  color: var(--primary-text-color);
  background-color: var(--accent);
  font-size: 16px;
  line-height: 1.88;
  border-radius: 4px;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
  display: inline-block;
  min-width: 200px;

  border: 1px solid transparent;
}

.button-primary {
  color: var(--title-text-color);
  background-color: #f5f4fa;
  font-size: 16px;
  line-height: 1.88;
  border-radius: 4px;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
  display: inline-block;
  min-width: 200px;
  text-align: center;
  border: 1px solid #f5f4fa;
}

.features-dscrp {
  color: var(--desciption-color);
}

.command-title {
  color: var(--title-text-color);
}

.command-dscrp {
  color: var(--desciption-color);
}

.social {
  text-decoration: none;
}

.adress-title {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.contacts {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.join {
  color: var(--primary-text-color);
  ont-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.join-action {
  color: var(--primary-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.category-title {
  color: var(--title-text-color);
}

.examples-title {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-decoration: none;
}

.examples-dscrp {
  color: var(--desciption-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.examples .list {
  text-decoration: none;
}

.underline {
  text-decoration: none;
}

.footer {
  background-color: #2f303a;
}

.contacts {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.adress-title {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
